@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

@custom-variant dark (&:where(.dark, .dark *));

@import '@friendofsvelte/tipex/styles/index.css';

svg {
	display: inline-block;
}
